[client]
#character_set_client = utf8
port = 12308
socket = /usr/local/mysql/run/mysql.sock

[mysqld] 
port = 12308 
socket      = /usr/local/mysql/run/mysql.sock
basedir = /usr/local/mysql                                                                                  
datadir = /usr/local/mysql/data                                                                             
pid_file = /usr/local/mysql/run/mysql.pid
innodb_file_per_table = ON                                                                                                                                              
log-error=/usr/local/mysql/log/mysql_error.log                                                              
lower_case_table_names=1
event_scheduler = 1
autocommit = 1
character_set_server = utf8
skip_name_resolve = 1
max_connections = 20000
max_connect_errors = 100
transaction_isolation = READ-COMMITTED
explicit_defaults_for_timestamp = 1
join_buffer_size = 16M #128GB
tmp_table_size = 64M  #128GB
max_allowed_packet = 128M #128GB
interactive_timeout = 7200 #s
wait_timeout = 7200  #s
read_buffer_size = 4M
read_rnd_buffer_size = 8M
sort_buffer_size = 4M

#slow_query
slow_query_log=ON
slow_query_log_file=/usr/local/mysql/log/mysql_slow_query.log
long_query_time=2

#log
log_queries_not_using_indexes = 1
log_slow_admin_statements = 1
log_slow_slave_statements = 1
log_throttle_queries_not_using_indexes = 10
min_examined_row_limit = 100
log_timestamps=system

########replication settings########
master_info_repository = TABLE
sync_binlog = 1
relay_log_recovery = 1b 

#innodb
innodb_flush_log_at_trx_commit = 2
innodb_buffer_pool_size = 72G #20-65% memory
innodb_buffer_pool_instances = 8
innodb_lru_scan_depth = 2000
innodb_lock_wait_timeout = 60
innodb_io_capacity_max = 8000
innodb_io_capacity = 4000 
innodb_flush_method = O_DIRECT 
innodb_file_format = Barracuda
innodb_file_format_max = Barracuda
innodb_log_group_home_dir = /data/mysql/redolog/
innodb_undo_directory = /data/mysql/undolog/
innodb_flush_neighbors = 0
innodb_log_file_size = 140M
innodb_log_buffer_size = 16M
innodb_print_all_deadlocks = 1
innodb_strict_mode = 1
innodb_undo_log_truncate=1
innodb_max_undo_log_size=2G



server-id=1022
sql_mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"


#binlog
log-bin=/usr/local/mysql/binlogs/mysql-bin.log
log-slave-updates = 1  
binlog-format=row
sync-master-info = 1
sync_binlog = 1
expire_logs_days = 10
max_binlog_size = 100M 
log_bin_trust_function_creators=1
binlog_gtid_simple_recovery=1

#GTID 
gtid-mode=on
enforce-gtid-consistency=on
master-info-repository=TABLE
relay-log-info-repository=TABLE
slave-parallel-workers=0
binlog-checksum=CRC32
master-verify-checksum=1
slave-sql-verify-checksum=1
binlog-rows-query-log_events=1
auto-increment-increment = 2
auto-increment-offset = 1
skip_slave_start=1
log_slave_updates=1
report-host=1.2.3.4
report-port=12308